<header class="site-header">

  <div class="wrapper">

    <div class="inner-wrapper">
      <h1 class="site-title">
        <a href="{{ site.url }}">{{ site.headertitle }}</a>
      </h1>
      <p class="site-subtitle">{{ site.subtitle }}</p>

      <nav class="site-nav">
        <ul>
          {% for page in site.pages %}
            {% if page.title %}
            <li><a class="page-link" href="{{ page.url | prepend: site.url }}"> {{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

  </div>

</header>
